@import '@union-design/style/index';
@alert: ~'@{uni-prefix}-alert';

.borderBg(@border, @bg, @color) {
  border: @border-width-base @border-style-base @border;
  background-color: @bg;
  color: @color;
}

.@{alert} {
  width: 100%;
  margin: 0;
  padding: 10px 16px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  border-radius: 4px;
  &-has_icon {
    padding: 10px 16px 10px 40px;
  }
  &-hasDes {
    padding: 16px;
    &_icon {
      padding: 16px 16px 16px 40px;
    }
  }
  &-success {
    .borderBg(@alert-success-border-color, @alert-success-bg-color, @alert-success-color);
  }
  &-info {
    .borderBg(@alert-info-border-color, @alert-info-bg-color, @alert-info-color);
  }
  &-warning {
    .borderBg(@alert-warning-border-color, @alert-warning-bg-color, @alert-warning-color);
  }
  &-error {
    .borderBg(@alert-error-border-color, @alert-error-bg-color, @alert-error-color);
  }
  &-banner {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
  }

  &-content-hasClose {
    margin-right: 31px;
  }

  &-icon {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 16px;
  }
  &-icon-hasDes {
    top: 16px;
  }
  &-message {
    font-size: 14px;
    line-height: 1.4px;
    &-hasDes {
      font-weight: 500;
      line-height: 1.4px;
    }
  }
  &-description {
    display: block;
  }
  &-close {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    cursor: pointer;
    &-hasDes {
      top: 20px;
    }
  }
}


