@import '@union-design/style/index';
@list-prefix-cls: ~'@{uni-prefix}-list';

.@{list-prefix-cls} {
  color: @list-color;
  background: @list-bg;
  ul {
    list-style: none;
    padding: 0;
  }
  &-items {
    .@{list-prefix-cls}-item {
      padding: @list-item-padding;
      border-bottom: 1px solid @list-item-border;
      overflow: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &-meta {
        flex: 1;
        &-title {
          color: @list-item-meta-title-color;
          // margin-bottom: 6px;
        }
        &-description {
          color: @list-item-meta-description-color;
        }
      }
      &-actions {
        margin-left: 48px;
        margin-right: @list-item-padding-horizontal-padding;
        li {
          display: inline-block;
          &:not(:last-child) {
            ::after {
              content: '|';
              padding: 0 @list-item-actions-split-padding;
              color: @list-item-actions-split-color;
            }
          }
        }
      }
    }
  }
}
