@import "../../style/themes/index";
@import "../../style/mixins/index";

@menu: ~"@{uni-prefix}-menu";
@menu-dark: ~"@{menu}-dark";
@menu-light: ~"@{menu}-light";
@menu-inline: ~"@{menu}-inline";
@menu-vertical: ~"@{menu}-vertical";
@menu-horizontal: ~"@{menu}-horizontal";
@menu-children: ~"@{menu}-children";
@menu-sub-menu: ~"@{menu}-sub-menu";
@menu-item: ~"@{menu}-item";
@menu-item-group: ~"@{menu}-item-group";
@menu-item-selected: ~"@{menu}-item-selected";
@menu-sub-menu-selected: ~"@{menu}-sub-menu-selected";
@menu-popup: ~"@{menu}-popup";
@menu-popup-animation: ~"@{menu}-popup-animation";
@menu-fold-icon: ~"@{menu}-fold-icon";
@menu-foldbtn: ~"@{menu}-foldbtn";
@menu-foldbtn-animation: ~"@{menu}-foldbtn-animation";
@menu-title: ~"@{menu}-title";
@menu-left-icon: ~"@{menu}-left-icon";
@menu-right-icon: ~"@{menu}-right-icon";
@menu-children-container: ~"@{menu}-children-container";

@keyframes @menu-foldbtn-animation {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes @menu-popup-animation {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.@{menu-dark} {
  color: @menu-dark-color;
  background-color: @menu-dark-bg;

  &:hover{
    color: @menu-dark-hover-color;
  }
}

.@{menu-light} {
  color:@menu-light-color;
  background-color: @menu-light-bg;

  &:hover{
    color: @menu-light-hover-color;
  }
}

.@{menu-inline},
.@{menu-vertical} {
  padding: 12px 0;
  text-align: start;
}

.@{menu-horizontal} {
    background-image: @menu-horizontal-background-image;
    background-color: @menu-horizontal-bg;
    overflow-y: auto;
    white-space: nowrap;

    & > div {
      display: inline-block;
      vertical-align: middle;
    }

    .@{menu-light},
    .@{menu-dark} {
      color: @menu-horizontal-color;
      background-color: transparent;

      &:hover{
        background-color: @menu-horizontal-hover-color;
      }
    }

    div.@{menu-sub-menu},
    div.@{menu-item},
    div.@{menu-item-group} {
        height: 40px;
        padding-right: 40px;

        .@{menu-title} {
          line-height: 40px;
          font-size: 16px;
          color: @menu-horizontal-item-title-color;
          letter-spacing: 0.46px;
          text-align: center;
        }
    }

    div.@{menu-item-selected},
    div.@{menu-item-selected}.@{menu-dark},
    div.@{menu-item-selected}.@{menu-light},
    div.@{menu-sub-menu-selected}.@{menu-dark},
    div.@{menu-sub-menu-selected}.@{menu-light} {
        color: @menu-horizontal-item-selected-color;
        background-color: @menu-horizontal-item-selected-bg;

        &::after {
            width: 0;
        }
    }
}

.@{menu-fold-icon} {
  position: relative;
  height: 36px;
  line-height: 36px;
  text-align: center;
  animation: 0.5s @menu-foldbtn-animation;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.@{menu-sub-menu},
.@{menu-item} {
  position: relative;
  height: 36px;
  line-height: 36px;
  user-select: none;
  cursor: pointer;
  padding-right: 18px;
  font-size: 16px;
  overflow: hidden;

  .@{menu-left-icon} {
    float: left;
    color: @menu-item-icon-color;
  }

  .@{menu-right-icon} {
    float: right;
    color: @menu-item-icon-color;
  }

  .@{menu-title} {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
}

.@{menu-item-selected} {
  background-color: @menu-item-selected-bg;

  &::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: @menu-item-selected-right-line-bg;
  }
}

.@{menu-item-selected}.@{menu-dark} {
  color: @menu-dark-item-selected-color;
  &:hover {
    color: @menu-dark-item-selected-hover-color;
  }
}

.@{menu-sub-menu-selected}.@{menu-light} {
  color: @menu-light-submenu-selected-color;
}

.@{menu-sub-menu-selected}.@{menu-dark} {
  color: @menu-dark-submenu-selected-color;
}

.@{menu-item-group} {
  user-select: none;
  white-space: nowrap;
  height: 36px;
  line-height: 36px;
  cursor: default;
  overflow: hidden;
}

.@{menu-item-group}.@{menu-light} {
  color: @menu-light-item-group-color;
}

.@{menu-item-group}.@{menu-dark} {
  color: @menu-dark-item-group-color;
}

.@{menu-children-container} {
  transition: max-height 0.2s;
}

.@{menu} {
    position: relative;
    width: 100%;
    transition: width 0.2s;
    box-shadow: 2px 0 4px 0 @menu-boxshadow;

    & > div:nth-of-type(1) {
      width: 100%;
      height: 100%;
      overflow: auto;
    }

    & > div:nth-of-type(2) {
      position: absolute;
      top: 50%;
      right: -30px;
      width: 30px;
      height: 80px;
      line-height: 80px;
      transform: translateY(-50%) perspective(100px) rotateY(45deg);
      transform-origin: 0 50%;
      box-shadow: 2px 0 4px 0 @menu-boxshadow inset;
      border-radius: 0 10px 10px 0;
      font-size: 24px;
      cursor: pointer;
    }
}

.@{menu}.@{menu-popup} {
  box-shadow: unset;

  & > div:first-of-type {
    height: 100%;
    width: 100%;
    box-shadow: 2px 0 4px 0 @menu-boxshadow;
    overflow: auto;
  }
}

.@{menu-popup} {
    position: fixed;
    z-index: 999999;
    width: 180px;
    animation: @menu-popup-animation 0.3s;
    padding-left: 8px;
}
