@import '../../style/themes/index';
@import '../../style/mixins/index';
@import './mixin';

@input-prefix-cls: ~'@{uni-prefix}-input';
@textarea-prefix-cls: ~'@{uni-prefix}-textarea';

.@{input-prefix-cls} {
  .input();
}

.@{textarea-prefix-cls} {
  .input(@input-width-base; none);
}

.@{input-prefix-cls}-search {
  .input();
  position: relative;
  padding: 0;
  display: inline-block;
  height: none;
  border: none;
  .@{input-prefix-cls}:not(:last-child) {
    padding-right: 30px;
    height: 100%;
  }
  .uniicon-search {
    .uniicon();
  }
}

.@{input-prefix-cls}-group {
  position: relative;
  width: @input-width-base;
  display: inline-block;
  height: @input-height-base;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  .@{uni-prefix}-input {
    flex: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    .input(100%, 100%);
  }
  >.@{uni-prefix}-input:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  >.@{uni-prefix}-input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  >.@{uni-prefix}-input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .addon{
    display: inline-block;
    font-size: @font-size-base;
    padding: @input-padding-vertical-base @input-padding-horizontal-base;
    box-sizing: border-box;
    background: @input-disabled-bg;
    height: 100%;
    // vertical-align: middle;
    color: @input-group-addon-color;
    .uniicon {
      color: @input-group-addon-icon-color;
      font-size: 16px;
    }
  }
  .addon:first-child {
    border: @border-width-base @border-style-base @input-group-addon-border-color;
    border-radius: @border-radius-base 0 0 @border-radius-base;
    border-right: none;
  }
  .addon:last-child {
    border-radius: 0 @border-radius-base @border-radius-base 0;
    border: @border-width-base @border-style-base @input-group-addon-border-color;
    border-left: none;
  }
}

.@{input-prefix-cls}-wrapper {
  display: inline-flex;
  align-items: center;
  >.@{uni-prefix}-input:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  >.@{uni-prefix}-input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  >.@{uni-prefix}-input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .addon{
    display: inline-block;
    font-size: @font-size-base;
    padding: @input-padding-vertical-base @input-padding-horizontal-base;
    box-sizing: border-box;
    background: @primary-color;
    height: 100%;
    color: @input-addon-color;
    cursor: pointer;
    border-radius: 0 @border-radius-base @border-radius-base 0;
    &:hover,
    &:hover {
      background: @input-addon-hover-bg;
    }

    &:active,
    &.active {
      background: @input-addon-active-bg;
    }
  }
  .@{input-prefix-cls}:not(:last-child) {
    padding-right: @input-padding-horizontal-base;
    border-right: none;
  }
}

.@{input-prefix-cls}-allowClear {
  flex: 1;
  .input();
  padding: 0;
  display: inline-block;
  border: none;
  position: relative;
  .uniicon-delete {
    .uniicon();
  }
}

.@{textarea-prefix-cls}-allowClear {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  .@{textarea-prefix-cls}:not(:last-child) {
    padding-right: 30px;
  }
  .uniicon-delete {
    .uniicon();
    top: @input-padding-vertical-base;
    transform: translateY(@input-padding-vertical-base);
  }
}
