@import '../../style/themes/index';
@import '../../style/mixins/index';

@breadcrumb-prefix-cls: ~'@{uni-prefix}-breadcrumb';

.@{breadcrumb-prefix-cls} {
  color: @breadcrumb-base-color;
  &-item {
    a {
      color: @breadcrumb-link-color;
      transition: color .3s;
    }
    a:hover {
      color: @breadcrumb-link-color-hover;
    }

    &-separator {
      margin: 0 6px;
    }

    &:last-child {
      .@{breadcrumb-prefix-cls}-item-link {
        color: @breadcrumb-last-item-color;
      }
      .@{breadcrumb-prefix-cls}-item-separator {
        display: none;
      }
    }
  }
}