@import "../../style/themes/index";
@import "../../style/mixins/index";

@step: ~"@{uni-prefix}-step";
@steps: ~"@{uni-prefix}-steps";

@step-tag-line-vertical: ~"@{step}-tag-line-vertical";
@step-tag-line-horizontal: ~"@{step}-tag-line-horizontal";
@step-tag-default: ~"@{step}-tag-default";
@step-tag-big: ~"@{step}-tag-big";
@step-tag-description: ~"@{step}-tag-description";
@step-tag-icon-wait: ~"@{step}-tag-icon-wait";
@step-tag-icon-process: ~"@{step}-tag-icon-process";
@step-tag-icon-finish: ~"@{step}-tag-icon-finish";
@step-tag-icon-error: ~"@{step}-tag-icon-error";
@step-tag-icon-default: ~"@{step}-tag-icon-default";
@step-tag-icon-big: ~"@{step}-tag-icon-big";
@step-tag-icon: ~"@{step}-tag-icon";
@step-tag-title: ~"@{step}-tag-title";
@step-tag-title-default: ~"@{step}-tag-title-default";
@step-tag-title-big: ~"@{step}-tag-title-big";
@step-tag-wait: ~"@{step}-tag-wait";
@step-tag-finish: ~"@{step}-tag-finish";

.@{steps}-wrap {
    & > .@{step}-wrap:last-of-type > .@{step-tag-line-vertical},
    & > .@{step}-wrap:last-of-type > .@{step-tag-line-horizontal} {
        height: 0;
        width: 0;
    }
}

.@{steps}-horizontal {
    white-space: nowrap;
    overflow: hidden;
    & > div {
        display: inline-block;
        vertical-align: top;
    }
}

.@{steps}-vertical {
    & > div {
        display: block;
    }

    & > .@{step}-wrap + .@{step}-wrap{
        margin-top: 8px;
    }
}

.@{step}-wrap {
    position: relative;
    display: inline-block;

    & > .@{step-tag-line-horizontal},
    & > .@{step-tag-line-vertical} {
        position: absolute;
        z-index: 1;
        background-color: @steps-step-bg;
    }

    & > .@{step-tag-line-horizontal} {
        float: right;
        height: 1px;
        left: 0;
        right: 8px;
    }

    & > .@{step-tag-line-horizontal}.@{step-tag-default} {
        top: 12px;
    }

    & > .@{step-tag-line-horizontal}.@{step-tag-big} {
        top: 16px;
    }

    & > .@{step-tag-line-vertical} {
        width: 1px;
        bottom: 0;
    }

    & > .@{step-tag-line-vertical}.@{step-tag-default} {
        top: 32px;
        left: 12px;
    }

    & > .@{step-tag-line-vertical}.@{step-tag-big} {
        top: 40px;
        left: 16px;
    }

    & > .@{step-tag-icon},
    & > .@{step-tag-title} {
        display: inline-block;
        vertical-align: middle;
    }

    & > .@{step-tag-icon} {
        position: relative;
        box-sizing: border-box;
        text-align: center;
        user-select: none;
        cursor: pointer;

        & span {
            font-size: 14px;
        }

        & > .@{step-tag-icon-wait},
        & > .@{step-tag-icon-process},
        & > .@{step-tag-icon-finish},
        & > .@{step-tag-icon-error} {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        & > .@{step-tag-icon-wait} {
            color: @steps-step-tag-icon-wait-color;
            border: 1px solid @steps-step-tag-icon-wait-color;
        }

        & > .@{step-tag-icon-process} {
            color: @steps-step-tag-icon-process-color;
            background-color: @steps-step-process-color;
        }

        & > .@{step-tag-icon-finish},
        & > .@{step-tag-icon-error} {
            color: @steps-step-process-color;
            border: 1px solid @steps-step-process-color;

        }

        & > .@{step-tag-icon-finish}.@{step-tag-default} {
            & span {
                margin-top: 3px;
                font-size: 16px;
            }
        }

        & > .@{step-tag-icon-error}.@{step-tag-default} {
            & span {
                font-size: 14px;
            }
        }

        & > .@{step-tag-icon-finish}.@{step-tag-big} {
            & span {
                margin-top: 5px;
                font-size: 22px;
            }
        }

        & > .@{step-tag-icon-error}.@{step-tag-big} {
            & span {
                margin-top: 6px;
                font-size: 18px;
            }
        }
    }

    & > .@{step-tag-icon-default} {
        width: 24px;
        height: 24px;
        line-height: 24px;
    }

    & > .@{step-tag-icon-big} {
        width: 32px;
        height: 32px;
        line-height: 32px;
    }

    & > .@{step-tag-title} {
        font-weight: 500;
        padding: 0 8px;
        color: @steps-step-tag-title-color;
        cursor: pointer;
    }

    & > .@{step-tag-title-default} {
        font-size: 14px;
        line-height: 22px;
    }

    & > .@{step-tag-title-big} {
        font-size: 16px;
        line-height: 24px;
    }

    & > .@{step-tag-title}.@{step-tag-wait} {
        color: @steps-step-tag-wait-color;
        font-weight: 400;
    }

    & > .@{step-tag-title}.@{step-tag-finish} {
        color: @steps-step-tag-finish-color;
        font-weight: 400;
    }

    & .@{step-tag-description} {
        margin-top: 4px;
        font-size: 14px;
        font-weight: normal;
        color: @steps-step-tag-title-color;
        cursor: default;
        white-space: normal;
    }

    & .@{step-tag-description}.@{step-tag-default} {
        margin-left: 32px;
    }

    & .@{step-tag-description}.@{step-tag-big} {
        margin-left: 40px;
    }

    & .@{step-tag-description}.@{step-tag-wait} {
        color: @steps-step-tag-wait-description-color;
    }

    & .@{step-tag-description}.@{step-tag-finish} {
        color: @steps-step-tag-finish-description-color;
    }
}
