@import "../../style/themes/index";
@import "../../style/mixins/index";

@step: ~"@{uni-prefix}-step";
@steps: ~"@{uni-prefix}-steps";

@step-tag-line-vertical: ~"@{step}-tag-line-vertical";
@step-tag-line-horizontal: ~"@{step}-tag-line-horizontal";
@step-tag-default: ~"@{step}-tag-default";
@step-tag-big: ~"@{step}-tag-big";
@step-tag-description: ~"@{step}-tag-description";
@step-tag-icon-wait: ~"@{step}-tag-icon-wait";
@step-tag-icon-small: ~"@{step}-tag-icon-small";
@step-tag-icon-process: ~"@{step}-tag-icon-process";
@step-tag-icon-finish: ~"@{step}-tag-icon-finish";
@step-tag-icon-error: ~"@{step}-tag-icon-error";
@step-tag-icon-default: ~"@{step}-tag-icon-default";
@step-tag-icon-big: ~"@{step}-tag-icon-big";
@step-tag-icon: ~"@{step}-tag-icon";
@step-tag-title: ~"@{step}-tag-title";
@step-tag-title-default: ~"@{step}-tag-title-default";
@step-tag-title-big: ~"@{step}-tag-title-big";
@step-tag-wait: ~"@{step}-tag-wait";
@step-tag-finish: ~"@{step}-tag-finish";

.@{steps}-wrap {

    &>.@{step}-wrap:last-of-type>.@{step-tag-line-vertical},
    &>.@{step}-wrap:last-of-type>.@{step-tag-line-horizontal} {
        height: 0;
        width: 0;
    }
}

.@{steps}-horizontal {
    white-space: nowrap;
    overflow: hidden;

    &>div {
        display: inline-block;
        vertical-align: top;
    }
}

.@{steps}-vertical {
    &>div {
        display: block;
    }

    &>.@{step}-wrap-default +.@{step}-wrap-default {
        margin-top: 12px;
    }
    &>.@{step}-wrap-big +.@{step}-wrap-big {
        margin-top: 16px;
    }
    &>.@{step}-wrap-small +.@{step}-wrap-small {
        margin-top: 10px;
    }

    & .@{step-tag-description} {
        min-height: 50px;
    }
}

.@{step}-wrap {
    position: relative;
    display: inline-block;

    &>.@{step-tag-line-horizontal},
    &>.@{step-tag-line-vertical} {
        position: absolute;
        z-index: 1;
        background-color: @steps-step-bg;
    }

    &>.@{step-tag-line-horizontal} {
        float: right;
        height: 1px;
        left: 0;
        right: 8px;

        &-default {
            top: 12px;
        }
        &-small {
            top: 12px;
            &-label-vertical {
                top: 4px;
            }
        }
        &-big {
            top: 16px;
        }
    }

    &>.@{step-tag-line-vertical} {
        width: 1px;
        bottom: 0;

        &-default {
            top: 32px;
            left: 10px;
        }

        &-big {
            top: 44px;
            left: 14px;
        }
        &-small {
            top: 32px;
            left: 4px;
        }
    }

    &>.@{step-tag-icon},
    &>.@{step-tag-title} {
        display: inline-block;
        vertical-align: middle;
    }

    &>.@{step-tag-title}-label-vertical {
        display: block;
        margin-top: 8px;
    }
    &>.@{step-tag-icon}-label-vertical {
        display: block;
    }

    &>.@{step-tag-icon} {
        position: relative;
        box-sizing: border-box;
        text-align: center;
        user-select: none;
        cursor: pointer;

        & span {
            font-size: 14px;
        }

        &>.@{step-tag-icon-wait},
        &>.@{step-tag-icon-process},
        &>.@{step-tag-icon-finish},
        &>.@{step-tag-icon-error} {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        &>.@{step-tag-icon-wait} {
            color: @steps-step-tag-icon-wait-color;
            background-color: @steps-step-tag-icon-wait-bg;
        }

        &>.@{step-tag-icon-process} {
            color: @steps-step-tag-icon-process-color;
            background-color: @steps-step-process-color;
        }

        &>.@{step-tag-icon-finish},
        &>.@{step-tag-icon-error} {
            color: @steps-step-process-color;
            border: 1px solid @steps-step-process-color;

        }

    }

    &>.@{step-tag-icon-default} {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    &>.@{step-tag-icon-big} {
        width: 28px;
        height: 28px;
        line-height: 28px;
        & span {
            font-size: 16px;
        }
    }

    & > .@{step-tag-icon-small} {
        width: 8px;
        height: 8px;
        & > div {
            border-radius: 50%;
        }
        .@{step-tag-icon-small}-wait {
            height: 100%;
            background-color: @steps-step-tag-icon-wait-bg;
        }
        .@{step-tag-icon-small}-process {
            height: 100%;
            background-color: @steps-step-tag-icon-small-process-bg;
        }
        .@{step-tag-icon-small}-finish {
            height: 100%;
            background-color: @steps-step-tag-icon-small-finish-bg;
            border: 1px solid @primary-color;
        }
    }

    &>.@{step-tag-title} {
        margin-left: 8px;
        font-weight: 400;
        color: @steps-step-tag-title-color;
        cursor: pointer;

        &-label-vertical {
            max-width: 112px;
            margin-left: 0px;
            margin-top: 8px;
            text-align: center;
            word-break: break-all;
            white-space: pre-wrap;
            line-height: 22px;
        }

        &-default {
            font-size: 14px;
            line-height: 22px;
        }

        &-process {
            font-weight: 500;
        }
    }

    & .@{step-tag-description} {
        font-size: 14px;
        font-weight: normal;
        color: @steps-step-tag-description-color;
        cursor: default;
        white-space: normal;

        &-default {
            padding-left: 28px;
        }

        &-big {
            padding-left: 36px;
        }

        &-small {
            padding-left: 16px;
        }

        &-label-vertical {
            padding-left: 0px;
            max-width: 112px;
            margin-top: 8px;
            word-break: break-all;
            white-space: pre-wrap;
            text-align: center;
        }
    }
}