@import '@union-design/style/index';
@notification: ~"@{uni-prefix}-notification";
@notification-animation: ~"@{notification}-animation";
@notification-container: ~"@{notification}-container";
@notification-head: ~"@{notification}-head";
@notification-icon: ~"@{notification}-icon";
@notification-title: ~"@{notification}-title";
@notification-close: ~"@{notification}-close";
@notification-content: ~"@{notification}-content";

.@{notification}-wrap {
    padding: 0 40px 0 0;
    animation: @notification-animation 0.2s linear;

    & > .@{notification-container} {
        display: inline-block;
        width: 384px;
        margin: 10px auto;
        padding: 16px 24px;
        box-shadow: @notification-container-boxshadow;
        background-color: @notification-container-bg;
        border-radius: @border-radius-base;
        pointer-events: auto;

        & > .@{notification-head} {
            position: relative;
            width: 100%;

            & > .@{notification-icon},
            & > .@{notification-title},
            & > .@{notification-close} {
                display: inline-block;
                vertical-align: middle;
            }

            & > .@{notification-icon},
            & > .@{notification-close} {
                width: 24px;
            }

            & > .@{notification-icon} {
                margin-right: 10px;
            }

            & > .@{notification-close} {
                margin-left: 10px;
            }

            & > .@{notification-title} {
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & > .@{notification-icon},
            & > .@{notification-close} {
                font-size: 24px;
                user-select: none;
                cursor: pointer;
                color: @notification-close-color;
            }
        }

        & > .@{notification-content} {
            font-size: 14px;
            line-height: 22px;
            color: @notification-container-text-color;
        }
    }
}

@keyframes @notification-animation {
    from {
        opacity: 0;
        z-index: -1;
        transform: translateX(20%);
    }

    to {
        opacity: 1;
        z-index: 0;
        transform: translateX(0);
    }
}
