@import '../../style/themes/index';
@import '../../style/mixins/index';
@import './mixin.less';

@select-prefix-cls: ~'@{uni-prefix}-select';
@select-item-prefix-cls: ~'@{select-prefix-cls}-item';
@select-input-prefix-cls: ~'@{select-prefix-cls}-input';
@select-wrapper-prefix-cls: ~'@{select-prefix-cls}-wrapper';
@select-dropdown-prefix-cls: ~'@{select-prefix-cls}-dropdown';
@select-dropdown-show: ~'@{select-dropdown-prefix-cls}-show';
@select-dropdown-hide: ~'@{select-dropdown-prefix-cls}-hide';
@select-dropdown-match-select-width: ~'@{select-dropdown-prefix-cls}-match-select-width';

.@{select-wrapper-prefix-cls} {
  position: relative;
  width: inherit;
  font-size: @font-size-base;
  &::after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
  *zoom: 1;
}

.@{select-prefix-cls} {
  position: relative;
  box-sizing: border-box;
  width: inherit;
  cursor: pointer;
  background-color: @component-background;
  border: @border-width-base @border-style-base @btn-default-border;
  padding: 3px 8px;
  height: @btn-height-base;
  // line-height: @btn-height-base - 2px;
  border-radius: @border-radius-base;
  // float: left;
  user-select: none;
  &:not(.@{select-prefix-cls}-disabled):hover, &:not(.@{select-prefix-cls}-disabled):focus {
    border: @border-width-base @border-style-base @primary-color;
    border-color: @input-hover-border-color;
    border-right-width: @border-width-base;
  }
  &:not(.@{select-prefix-cls}-disabled):focus {
    box-shadow: @input-box-shadow-base;
  }
  &-iconWrapper {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: @btn-default-border;
    &-disabled {
      color: @disabled-color;
    }
    // &-icon {
    //   color: @btn-default-border;
    //   &-disabled {
    //     color: @disabled-color;
    //   }
    // }
  }
}

.@{select-prefix-cls}-active {
  border: @border-width-base @border-style-base @primary-color;
  border-color: @input-hover-border-color;
  box-shadow: @input-box-shadow-base;
}

.@{select-prefix-cls}-disabled {
  .disabled();
  background-color: @disabled-bg;
  border-color: @disabled-border-color;
  // &:hover, &:focus {
  //   box-shadow: none;
  //   border: @border-width-base @border-style-base @btn-default-border;
  // }
}

.@{select-prefix-cls}-value {
  color: @text-color;
}

.@{select-prefix-cls}-placeholder {
  color: @input-placeholder-color;
}

.@{select-input-prefix-cls} {
  height: @btn-height-base - 2px;
  line-height: @btn-height-base - 2px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: 0 0;
  user-select: none;
  position: absolute;
  top: 0;
  bottom: 0;
}

// .@{select-item-prefix-cls}-wrapper {
//   display: inline-block;
//   // overflow-y: scroll;
//   height: 30px;
//   margin-right: 14px;
//   line-height: 1;
//   padding: 1px 0px;
// }

.@{select-item-prefix-cls} {
  height: 22px;
  max-width: 100px;
  border-radius: 3px; background: #E9EBF0;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #C8CAD1;
  margin-right: 8px;
  padding: 0px 8px;
  font-size: 12px;
  color: rgba(0,0,0,0.65);
  line-height: 20px;
  span {
    margin-right: 4px;
  }
}

.@{select-dropdown-prefix-cls} {
  position: absolute;
  box-sizing: border-box;
  top: @btn-height-base + 4px;
  width: auto;
  max-height: 300px;
  overflow: auto;
  z-index: 1050;
  background: #fff;
  border-radius: @border-radius-sm;
  box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
}

.@{select-dropdown-match-select-width} {
  width: inherit;
}

.@{select-dropdown-prefix-cls}-noContent {
  padding: 16px;
  color: @disabled-color;
}

.@{select-dropdown-prefix-cls}-item {
  cursor: pointer;
  padding: 4px 8px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:not(&-disabled) {
    &:hover {
      background: @item-hover-bg;
    }
  }
  &-disabled {
    .disabled();
  }
}

.@{select-dropdown-show} {
  display: block;
}

.@{select-dropdown-hide} {
  display: none;
}
