.affix-demo-content{
  display: inline-block;
  // margin-left: 50px;
  // margin-right: 50px;
  vertical-align: top;
  .target {
    height: 500px;
    width: 500px;
    background-color: peachpuff;
    overflow-y: scroll;
    overflow-x: hidden;
    // padding-top: 100px;
  }

  .inner {
    height: 50px;
    width: 50px;
    background-color: green;
  }

  .other {
    // margin-top: 100px;
    height: 600px;
    width: 500px;
    background-color: peachpuff;
  }

  .target2 {
    height: 2000px;
    width: 500px;
    background-color: peachpuff;
    // overflow: scroll;
    // padding-top: 100px;
  }

  .inner2 {
    height: 50px;
    width: 50px;
    background-color: green;
  }

  .other2 {
    // margin-top: 100px;
    height: 600px;
    width: 500px;
    background-color: peachpuff;
  }

}
