@import '../../style/index.less';
@container: ~'@{uni-prefix}-modal';

.@{container} {
  padding: 0;
  margin: 0;
  display: none;
  &-show {
    display: block;
  }
  &-mask {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: @zindex-modal-mask;
    display: block;
    background-color: @modal-mask-bg;
    animation: maskin 0.3s @ease-in-out;
    &-transition {
      opacity: 0;
      transition: opacity 0.3s @ease-in-out;
    }
    &-hidden {
      display: none;
    }
  }
  &-centered {
    text-align: center;
    &::before {
      display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
    }
    .@{container}-wrapper-content {
      top: 0;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
  }
  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal;
    overflow: auto;
    &-content {
      position: relative;
      width: 511px;
      background-color: @modal-content-bg;
      box-shadow: 0 12px 48px 16px @modal-content-boxshadow;
      border-radius: 2px;
      margin: 0 auto;
      top: 100px;
      transform-origin: center;
      animation: fadein 0.3s @ease-in-out;
      &-hidden {
        transform-origin: center;
        transform: scale(0);
        transition: transform 0.3s @ease-in-out;
      }
      &-header {
        position: relative;
        padding: 9px 14px 9px 16px;
        background-color: @modal-header-bg;
        border-radius: 2px 2px 0 0;
        &-title {
          font-size: 16px;
          color: @modal-heading-color;
        }
        &-close {
          position: absolute;
          top: 9px;
          right: 14px;
          cursor: pointer;
        }
      }
      &-body {
        padding: 25px 54px;
      }
      &-methodBody {
        padding: 42px 43px;
        position: relative;
        &-icon {
          position: absolute;
          top: 42px;
          left: 43px;
        }
        &-success {
          color: @modal-method-success-icon-color;
        }
        &-error {
          color: @modal-method-error-icon-color;
        }
        &-info {
          color: @modal-method-info-icon-color;
        }
        &-warning, &-confirm {
          color: @modal-method-warning-icon-color;
        }
        &-title {
          padding-left: 32px;
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
        }
        &-content {
          display: block;
          margin-top: 12px;
          margin-left: 32px;
          color: @modal-content-color;
        }
      }
      &-footer {
        text-align: right;
        padding: 10px 54px 25px 54px;
      }
    }
  }
}

@keyframes fadein {
  0% {
   transform: scale(0);
   opacity: 0.0;
  }
  25% {
    transform: scale(0.25);
    opacity: 0.25;
   }
   50% {
    transform: scale(0.5);
    opacity: 0.5;
   }
  100% {
   transform: scale(1);
   opacity: 1;
  }
 }

 @keyframes maskin {
   0% {
     opacity: 0;
   }
   100% {
    opacity: 1;
   }
 }
