@import '@union-design/style/index';
@pagination: ~"@{uni-prefix}-pagination";


@pagination-icon: ~"@{pagination}-icon";
@pagination-item: ~"@{pagination}-item";
@pagination-item-hover: ~"@{pagination}-item-hover";
@pagination-item-selected: ~"@{pagination}-item-selected";
@pagination-quick-jumper: ~"@{pagination}-quick-jumper";
@pagination-size-changer: ~"@{pagination}-size-changer";

.@{pagination}-wrap {
    color: @pagination-color;
    box-sizing: border-box;
    height: @pagination-item-size;
    & > div {
        display: inline-block;
        vertical-align: top;
    }

    & > div + div {
        margin-left: 8px;
    }

    & > .@{pagination-icon},
    & > .@{pagination-item} {
        width: @pagination-item-size;
        height: @pagination-item-size;
        line-height: @pagination-item-size;
        text-align: center;
        user-select: none;
        cursor: pointer;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        background-color: #fff;
        border-radius: @border-radius-base;
    }

    & > .@{pagination-icon}:hover, & > .@{pagination-item-hover}:hover {
        background-color: @pagination-item-hover-bg;
    }

    & > .@{pagination-icon}:active, & > .@{pagination-item-hover}:active {
        background-color: @pagination-item-active-bg;
    }

    & > .@{pagination-item-selected} {
        background-color: @pagination-item-selected-bg;
        color: @pagination-item-selected-color;
        font-weight: @pagination-font-weight-selected;
    }

    & > .@{pagination-quick-jumper},
    & > .@{pagination-size-changer} {
        margin-left: 12px;
        font-size: 14px;
    }

    & > .@{pagination-quick-jumper} {
        cursor: default;

        & > input {
            box-sizing: border-box;
            width: 42px;
            border: 1px solid @pagination-quick-jumper-input-border;
            border-radius: @border-radius-base;
            margin: 0 8px;
            outline: none;
            cursor: text;
            text-align: center;
        }
    }
    &-large {
        height: @pagination-item-size-large;
        & > .@{pagination-icon},
        & > .@{pagination-item} {
            width: @pagination-item-size-large;
            height: @pagination-item-size-large;
            line-height: @pagination-item-size-large;  
        }
        & > .@{pagination-quick-jumper} {
            & > input {
                height: @pagination-item-size-large;
            }
        }
    }
}
