@import '../../style/themes/index';


@result : ~'@{uni-prefix}-result';


.@{result}{

  padding:48px 32px;

  &-icon{
    font-size: 72px;
    text-align: center;
  }

  &-success{
    color: @result-success-color;
  }

  &-error{
    color: @result-error-color;
  }

  &-image{
    height: 100px;
  }

  &-title{
    text-align: center;
    color: @result-title-color;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  &-subTitle{
    text-align: center;
    margin-top: 8px;
    color: @result-subtitle-color;
  }

  &-extra{
    text-align: center;
    margin-top: 29px;

    > * {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}