@import '../../style/themes/index.less';
@import '../../style/mixins/index.less';
@typography: ~"@{uni-prefix}-typography";

.@{typography}-level1 {
    font-size: 16px;
    color: @typography-level1-color;
    font-weight: bold;
}

.@{typography}-level2 {
    font-size: 14px;
    color: @typography-level1-color;
    font-weight: bold;
}

.@{typography}-level3 {
    font-size: 14px;
    color: @typography-level1-color;
    font-weight: normal;
}

.@{typography}-level4 {
    font-size: 14px;
    color: @typography-level4-color;
    font-weight: normal;
}

.@{typography}-level5 {
    font-size: 14px;
    color: @typography-level5-color;
    font-weight: normal;
}

.@{typography}-deleteline {
    text-decoration: line-through;
}

.@{typography}-underline {
    text-decoration: underline;
}

.@{typography}-strong {
    font-weight: bold;
}

.@{typography}-success {
    color: @typography-success-color;
}

.@{typography}-warning {
    color: @typography-warning-color;
}

.@{typography}-danger {
    color: @typography-danger-color;
}

.@{typography}-link {
    color: @typography-link-color;

    &:link {
        color: @typography-link-color;
    }
  
    &:visited {
        color: @typography-link-visited-color;
    }

    &:hover {
        color: @typography-link-hover-color;
    }
}
