@import '../../style/index.less';
@anchor-prefix-cls: ~'@{uni-prefix}-anchor';

.@{anchor-prefix-cls} {
  width: 120px;
  position: fixed;
  top: 100px;
  right: 0px;
  border-left: 1px solid @anchor-border-color;
  &-wrapper {
    position: relative;
    .@{anchor-prefix-cls}-ball-gray {
      position: absolute;
      left: -5px;
      width: 9px;
      height: 9px;
      background: @anchor-bg;
      border-radius: 50%;
    }
    .@{anchor-prefix-cls}-ball-red {
      position: absolute;
      left: -5px;
      width: 9px;
      height: 9px;
      background: @anchor-active-bg;
      border-radius: 50%;
      transition: .3s;
    }
  }
  &-link {
    padding: 12px 10px;
    color: @anchor-link-color;
    cursor: pointer;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    &:hover {
      color: @anchor-link-hover-color;
    }
    &-selected {
      color: @primary-color;
    }
  }
}