@import "../../style/index.less";
@topnav: ~"@{uni-prefix}-topnav";

.@{topnav} {
  background-color: @topnav-bg-color;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
  user-select: none;
  position: relative;

  & > .@{topnav}-left {
    justify-content: flex-end;
  }

  & > .@{topnav}-left,
  & > .@{topnav}-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    & > * {
      display: none;
    }
  }

  & > .@{topnav}-left.@{topnav}-scroll,
  & > .@{topnav}-right.@{topnav}-scroll {
    cursor: pointer;

    & > * {
      display: block;
    }

    &:hover {
      background-color: @topnav-item-hover-color;
    }

    &:active {
      background-color: @topnav-item-active-color;
    }
  }

  & > .@{topnav}-body {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    & > .@{topnav}-item.@{topnav}-active {
      background-color: @topnav-item-active-color;

      &:hover {
        background-color: @topnav-item-active-color;
      }
    }

    & > .@{topnav}-item {
      box-sizing: content-box;
      flex-shrink: 0;
      font-weight: 600;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      cursor: pointer;

      & > * {
        pointer-events: none;
      }

      &:hover {
        background-color: @topnav-item-hover-color;
      }

      &:active {
        background-color: @topnav-item-active-color;
      }

      & > .@{topnav}-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > .@{topnav}-arrow {
        font-size: 0;
      }
    }
  }
}

.@{topnav}.@{topnav}-md {
  height: 44px;

  & > .@{topnav}-left,
  & > .@{topnav}-right {
    width: 40px;
  }

  & > .@{topnav}-body {
    & > .@{topnav}-item {
      padding: 0 24px;
      font-size: 14px;

      & > .@{topnav}-text {
        max-width: 112px;
      }
    }
  }
}

.@{topnav}.@{topnav}-xl {
  height: 52px;

  & > .@{topnav}-left,
  & > .@{topnav}-right {
    width: 52px;
  }

  & > .@{topnav}-left {
    margin-left: 154px;
  }

  & > .@{topnav}-right {
    margin-right: 154px;
  }

  & > .@{topnav}-body {
    & > .@{topnav}-item {
      padding: 0 36px;
      font-size: 16px;

      & > .@{topnav}-text {
        max-width: 128px;
      }
    }
  }
}

.@{topnav}-dropdown,
.@{topnav}-expand,
.@{topnav}-expand-img {
  position: absolute;
  background-color: #fff;
  z-index: 999;
}

.@{topnav}-dropdown {
  border-radius: 4px;
  padding: 4px 0;
  transform: translateX(-50%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 3px 7px rgba(0, 0, 0, 0.05);

  & > .@{topnav}-item.@{topnav}-active {
    background-color: @topnav-dropdown-item-bg-hover-color;
    color: @topnav-dropdown-font-hover-color;

    &:hover {
      background-color: @topnav-dropdown-item-bg-hover-color;
    }
  }

  & > .@{topnav}-item {
    height: 32px;
    padding: 0px 16px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: @topnav-dropdown-font-normal-color;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: @sidenav-item-hover-bg-color;
    }

    &:active {
      background-color: @sidenav-item-bg-click-color;
    }
  }
}

.@{topnav}-expand,
.@{topnav}-expand-img {
  max-height: 54vh;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;

  & .@{topnav}-block{
    flex: 1;
    width: 0;
    position: relative;
  }

  & .@{topnav}-col {
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    white-space: nowrap;

    & > .@{topnav}-item.@{topnav}-level2 {
      height: 40px;
      font-weight: 400;
      color: @topnav-expand-level2;
    }

    & > .@{topnav}-item.@{topnav}-level3 {
      color: @topnav-expand-level3;
    }

    & > .@{topnav}-item.@{topnav}-level4 {
      color: @topnav-expand-level4;
    }

    & > .@{topnav}-item.@{topnav}-level5 {
      color: @topnav-expand-level5;
    }

    & > .@{topnav}-item.@{topnav}-hover {
      cursor: pointer;

      &:hover {
        background-color: @sidenav-item-hover-bg-color;
      }

      &:active {
        background-color: @sidenav-item-bg-click-color;
      }
    }

    & > .@{topnav}-item.@{topnav}-hover.@{topnav}-active {
      color: @topnav-expand-level2;
      background-color: @topnav-expand-hover-color;
    }

    & > .@{topnav}-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 36px;
      user-select: none;
      font-weight: 400;
      padding: 0 8px;
      overflow: hidden;

      & > .@{topnav}-text {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.@{topnav}-expand.@{topnav}-md {
  padding: 16px 41px 48px 41px;
  gap: 36px;
}

.@{topnav}-expand.@{topnav}-xl {
  padding: 16px 206px 48px 206px;
  gap: 72px;

  & > .@{topnav}-col {
    & > .@{topnav}-item.@{topnav}-level2 > .@{topnav}-text {
      font-size: 16px;
    }
  }
}

.@{topnav}-expand-img {
  & > .@{topnav}-left {
    flex-shrink: 0;
    position: relative;
    user-select: none;

    & > .@{topnav}-bg,
    & > .@{topnav}-title,
    & > .@{topnav}-desc,
    & > .@{topnav}-btn {
      position: absolute;
    }

    & > .@{topnav}-bg {
      position: relative;
      width: 100%;
      height: 100%;
    }

    & > .@{topnav}-title {
      top: 42px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      color: @topnav-expand-level3;
    }

    & > .@{topnav}-desc {
      top: 82px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: @topnav-expand-level4;
      overflow: hidden;
      width: 198px;
      height: 60px;
    }

    & > .@{topnav}-btn {
      top: 162px;
      cursor: pointer;
      height: 26px;
      background: rgb(255, 239, 239);
      border: 1px solid rgb(255, 213, 215);
      padding-left: 10px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-size: 0;
      color: @topnav-expand-level2;
      height: 26px;

      & > .@{topnav}-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  & > .@{topnav}-right {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
  }
}

.@{topnav}-expand-img.@{topnav}-md {
  & > .@{topnav}-left {
    width: 416px;
    min-height: 248px;

    & > .@{topnav}-title,
    & > .@{topnav}-desc,
    & > .@{topnav}-btn {
      left: 34px;
      max-width: 416px - 34px * 2;
    }
  }

  & > .@{topnav}-right {
    padding: 16px 55px 52px 55px;
    gap: 36px;
  }
}

.@{topnav}-expand-img.@{topnav}-xl {
  & > .@{topnav}-left {
    width: 456px;
    min-height: 252px;

    & > .@{topnav}-title,
    & > .@{topnav}-desc,
    & > .@{topnav}-btn {
      left: 110px;
      max-width: 456px - 110px * 2;
    }
  }

  & > .@{topnav}-right {
    padding: 16px 72px 48px 72px;
    gap: 72px;

    & > .@{topnav}-col {
      & > .@{topnav}-item.@{topnav}-level2 > .@{topnav}-text {
        font-size: 16px;
      }
    }
  }
}
