@import '../../style/themes/index.less';
@import '../../style/mixins/index.less';
@pop-over: ~'@{uni-prefix}-pop-over';

.@{pop-over} {
  position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 0;
  z-index: @zindex-popover;
  transition: visibility .3s ease-in-out;
  &-show {
    visibility: visible;
  }
  &-content {
    position: relative;
    &-arrow {
      position: absolute;
      width: 5px;
      height: 5px;
      background: @popover-bg;
      box-shadow: 0 1px 4px -1px @popover-boxshadow;
      &-top {
        bottom: -5px;
        transform: translate(-50%, -2.5px) rotate(45deg);
        left: 50%;
      }
      &-topLeft {
        bottom: -5px;
        left: 10%;
        transform: translate(-10%, -2.5px) rotate(45deg);
      }
      &-topRight {
        bottom: -5px;
        right: 10%;
        transform: translate(-10%, -2.5px) rotate(45deg);
      }
      &-bottom {
        left: 50%;
        transform: translate(-50%, -2.5px) rotate(45deg);
        top: 0;
      }
      &-bottomLeft {
        left: 10%;
        transform: translate(-10%, -2.5px) rotate(45deg);
        top: 0;
      }
      &-bottomRight {
        right: 10%;
        transform: translate(-10%, -2.5px) rotate(45deg);
        top: 0;
      }
      &-left {
        top: 50%;
        transform: translate(-2.5px, -50%) rotate(45deg);
        right: -5px;
      }
      &-leftTop {
        top: 10%;
        transform: translate(-2.5px, -10%) rotate(45deg);
        right: -5px;
      }
      &-leftBottom {
        bottom: 10%;
        transform: translate(-2.5px, -10%) rotate(45deg);
        right: -5px;
      }
      &-right {
        top: 50%;
        transform: translate(-2.5px, -50%) rotate(45deg);
        left: 0px;
      }
      &-rightTop {
        top: 10%;
        transform: translate(-2.5px, -10%) rotate(45deg);
        left: 0px;
      }
      &-rightBottom {
        bottom: 10%;
        transform: translate(-2.5px, -10%) rotate(45deg);
        left: 0px;
      }
    }
    &-inner {
      background: @popover-bg;
      border-radius: 2px;
      box-shadow: 0 1px 4px 1px @popover-boxshadow;
      &-title {
        min-height: 32px;
        padding: 5px 16px 4px;
        border-bottom: @border-width-base @border-style-base @popover-title-border;
      }
      &-content {
        padding: 12px 16px;
        color: @popover-content-inner-content-color;
      }
    }
  }
}
