@import '../../style/index.less';
@import '../../button/styles/index.less';
@pop: ~'@{uni-prefix}-pop-confirm';

.@{pop} {
  position: absolute;
  visibility: hidden;
  z-index: @zindex-popover;
  margin: 0;
  padding: 0;
  opacity: 0;
  &-show {
    opacity: 1;
    visibility: visible;
  }
  &-content {
    position: relative;
    &-arrow {
      position: absolute;
      width: 5px;
      height: 5px;
      background: @popconfirm-bg;
      box-shadow: 0 1px 4px -1px @popconfirm-boxshadow;
      &-top {
        bottom: -5px;
        transform: translate(-50%, -2.5px) rotate(45deg);
        left: 50%;
      }
      &-topLeft {
        bottom: -5px;
        left: 10%;
        transform: translate(-10%, -2.5px) rotate(45deg);
      }
      &-topRight {
        bottom: -5px;
        right: 10%;
        transform: translate(-10%, -2.5px) rotate(45deg);
      }
      &-bottom {
        left: 50%;
        transform: translate(-50%, -2.5px) rotate(45deg);
        top: 0;
      }
      &-bottomLeft {
        left: 10%;
        transform: translate(-10%, -2.5px) rotate(45deg);
        top: 0;
      }
      &-bottomRight {
        right: 10%;
        transform: translate(-10%, -2.5px) rotate(45deg);
        top: 0;
      }
      &-left {
        top: 50%;
        transform: translate(-2.5px, -50%) rotate(45deg);
        right: -5px;
      }
      &-leftTop {
        top: 10%;
        transform: translate(-2.5px, -10%) rotate(45deg);
        right: -5px;
      }
      &-leftBottom {
        bottom: 10%;
        transform: translate(-2.5px, -10%) rotate(45deg);
        right: -5px;
      }
      &-right {
        top: 50%;
        transform: translate(-2.5px, -50%) rotate(45deg);
        left: 0px;
      }
      &-rightTop {
        top: 10%;
        transform: translate(-2.5px, -10%) rotate(45deg);
        left: 0px;
      }
      &-rightBottom {
        bottom: 10%;
        transform: translate(-2.5px, -10%) rotate(45deg);
        left: 0px;
      }
    }
    &-inner {
      background: @popconfirm-bg;
      border-radius: 4px;
      padding: 24px 32px;
      min-width: 120px;
      min-height: 90px;
      max-width: 384px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1),0px 3px 7px rgba(0, 0, 0, 0.05);
      &-title {
        color: @popconfirm-content-inner-title;
        font-weight: 600;
        font-size: 16px;
      }
      &-description {
        color: @popconfirm-content-inner-description;
        line-height: 20px;
        margin-top: 8px;
        font-size: 14px;
      }
      &-icon {
        font-size: 16px;
        position: absolute;
        &-info {
          color: @popconfirm-icon-info-color;
        }
        &-help {
          color: @popconfirm-icon-help-color;
        }
        &-error {
          color: @popconfirm-icon-error-color;
        }
        &-success {
          color: @popconfirm-icon-success-color;
        }
      }
      &-btn {
        text-align: right;
        margin-top: 16px;
      }
    }
  }
}
