@import '../../style/index.less';
@import '../../button/styles/index.less';
@pop: ~'@{uni-prefix}-pop-confirm';

.@{pop} {
  position: absolute;
  visibility: hidden;
  z-index: @zindex-popover;
  margin: 0;
  padding: 0;
  opacity: 0;
  &-show {
    opacity: 1;
    visibility: visible;
  }
  &-content {
    position: relative;
    &-arrow {
      position: absolute;
      &::before {
        position: absolute;
        content: '';
        width: 30px;
        height: 10px;
        background: @popconfirm-bg;
        z-index: 1;
      }
      &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background: @popconfirm-bg;
        box-shadow: @popconfirm-box-shadow;
        transform: translate(0%, -50%) rotate(45deg);
      }
      &-top, &-bottom {
        left: 50%;
      }
      &-topLeft, &-bottomLeft {
        left: 32px;
        &::after {
          left: 0px;
        }
      }
      &-topRight, &-bottomRight {
        right: 32px;
        &::after {
          right: 0px;
        }
      }
      &-top, &-topLeft, &-topRight {
        bottom: 0px;
        &::before {
          bottom: 0px;
          transform: translateX(-50%);
        }
      }
      &-bottom, &-bottomRight, &-bottomLeft {
        top: 0px;
        &::before {
          top: 0px;
          transform: translateX(-50%);
        }
      }
      &-left, &-right {
        top: 50%;
      }
      &-leftTop, &-rightTop {
        top: 32px;
      }
      &-leftBottom, &-rightBottom {
        bottom: 32px;
      }
      &-left, &-leftTop, &-leftBottom, &-right, &-rightTop, &-rightBottom{
        right: 0px;
        &::before {
          right: 0px;
          width: 10px;
          height: 30px;
          transform: translate(0%, -50%);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
      &-right, &-rightTop, &-rightBottom {
        left: 0px;
        &::before {
          left: 0px;
        }
      }
    }
    &-inner {
      background: @popconfirm-bg;
      border-radius: 4px;
      padding: 24px 32px;
      min-width: 120px;
      min-height: 90px;
      max-width: 384px;
      box-shadow: @popconfirm-box-shadow;
      &-title {
        color: @popconfirm-content-inner-title;
        font-weight: 600;
        font-size: 16px;
      }
      &-description {
        color: @popconfirm-content-inner-description;
        line-height: 20px;
        margin-top: 8px;
        font-size: 14px;
      }
      &-icon {
        font-size: 16px;
        position: absolute;
        &-info {
          color: @popconfirm-icon-info-color;
        }
        &-help {
          color: @popconfirm-icon-help-color;
        }
        &-error {
          color: @popconfirm-icon-error-color;
        }
        &-success {
          color: @popconfirm-icon-success-color;
        }
      }
      &-btn {
        text-align: right;
        margin-top: 16px;
      }
    }
  }
}


