@import '../../style/themes/index';


@page-header : ~'@{uni-prefix}-page-header';

.@{page-header}{
  background-color: @page-header-bg;
  height: 36px;
  width: 100%;
  padding-left: 16px;
  overflow: hidden;
  font-size: @font-size-base;
  font-weight: 500;
  line-height: 36px;
  color: @page-header-color;
  font-family: PingFangSC-Medium;
  &-subTitle{
    margin-left: 4px;
    font-weight: 400;
    font-family: PingFangSC-Regular;
  }
}
