@import '../../style/themes/index';
@import '../../style/mixins/index';

@tab-prefix-cls: ~'@{uni-prefix}-tabs';
@pane-prefix-cls: ~'@{uni-prefix}-tabpane';

.@{tab-prefix-cls} {
  .reset-component();
  overflow: hidden;
  position: relative;
  &-nav {
    display: flex;
    justify-content: flex-start;
    // position: relative;
    height: @tabs-card-height;
  }
  &-nav-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex: auto;
  }

  &-title {
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: @tabs-title-text-color;
  }

  &-line {
    .@{tab-prefix-cls}-nav {
      .@{tab-prefix-cls}-tab {
        display: inline-block;
        height: @tabs-line-height;
        padding: 5px 20px;
        cursor: pointer;
        &-active {
          .@{tab-prefix-cls}-title {
            color: @tabs-active-color;
          }
        }
        &:hover {
          .@{tab-prefix-cls}-title {
            color: @tabs-active-color;
          }
        }
      }
      .@{tab-prefix-cls}-bar {
        display: block;
        position: absolute;
        bottom: 0;
        height: 4px;
        background-color: @primary-color;
        transition: width 500ms, left 500ms;
      }
    }
  }

  &-card {
    .@{tab-prefix-cls}-nav {
      background-color: @tabs-bg;
      border-top: 1px solid @tabs-border-color;
      border-bottom: 1px solid @tabs-border-color;
      .@{tab-prefix-cls}-tab {
        margin-top: -1px;
        height: @tabs-card-height;
        padding: 5px 20px;
        border-top: 1px solid @tabs-border-color;
        cursor: pointer;
        &-active {
          border-right: 1px solid @tabs-active-border-color;
          border-left: 1px solid @tabs-active-border-color;
          border-bottom: 1px solid @tabs-active-bg;
          background-color: @tabs-active-bg;
          .@{tab-prefix-cls}-title {
            color: @tabs-active-color;
          }
        }
        &:hover {
          .@{tab-prefix-cls}-title {
            color: @tabs-active-color;
          }
        }
      }
      .@{tab-prefix-cls}-bar {
        display: none;
      }
    }
  }

  &-plain {
    .@{tab-prefix-cls}-nav {
      background-color: @tabs-bg;
      .@{tab-prefix-cls}-tab {
        height: @tabs-card-height;
        padding: 0 20px;
        cursor: pointer;
        line-height: @tabs-card-height;
        &-active {
          border-right: 1px solid @tabs-active-border-color;
          border-left: 1px solid @tabs-active-border-color;
          background-color: @tabs-active-bg;
          .@{tab-prefix-cls}-title {
            color: @tabs-active-color;
          }
        }
        &:hover {
          .@{tab-prefix-cls}-title {
            color: @tabs-active-color;
          }
        }
      }
      .@{tab-prefix-cls}-bar {
        display: none;
      }
    }
  }

  &-page {
    &>.@{tab-prefix-cls}-nav {
      background-color: @content-bg;
      height: 40px;
      box-shadow: 0 2px 2px 0 @card-shadow;
      .@{tab-prefix-cls}-tab {
        height: 40px;
        padding: 10px 16px;
        position: relative;
        cursor: pointer;
          &-active {
            background-color: @item-hover-bg;
            .@{tab-prefix-cls}-title {
              color: @text-color;
            }
          }
          &:hover {
            background-color: @item-hover-bg;
            .@{tab-prefix-cls}-title {
              color: @text-color;
            }
          }
          .@{tab-prefix-cls}-closeIcon {
            margin-left:10px;
            color: @tabs-close-icon-color;
            &:hover {
              color: @primary-color;
            }

          }
          .@{tab-prefix-cls}-page-fence {
            display: inline-block;
            position: absolute;
            right: 0;
            height: 24px;
            width: 1px;
            background-color: @tabs-active-border-color;
          }
      }
    }
    .@{tab-prefix-cls}-bar {
      display: none;
    }
  }

  &-content {
    display: flex;
    width: 100%;
    will-change: margin-left;
    transition: margin-left .3s ease-in-out;
  }
  .@{pane-prefix-cls} {
    width: 100%;
    flex-shrink: 0;
    // height: 0;
    // &.selected {
    //   height: auto;
    // }
  }
}




